.MovieCardContainer{
    /* max-width: 310px; */
    width:275px;
    margin: auto;
}
.MovieCardImage{
    height: 200px !important;
    max-width: 310px;
}
.MovieCardDescription{
    height: 200px;
    overflow-y: scroll;
    overflow-wrap: break-word;
}
.ViewOverview{
   display:flex;
   justify-content: flex-end;
}